
.about-us {
  box-sizing: border-box;
  padding: 129px 0 130px 0;
}

.about-us__title {
  font-family: "OpenSans-SemiBold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 49px;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.about-us__item {
  font-family: "OpenSans-Regular", "Arial", sans-serif;;
  width: 260px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 20px;
  letter-spacing: -0.5px;
}

.about-us__number {
  font-family: "OpenSans-Bold", "Arial", sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: $aqua;
}

.about-us__text {
  font-size: 22px;
  line-height: 34px;
  margin-top: 14px;
}

@media (max-width: $tablet) {
  .about-us {
    box-sizing: border-box;
    padding: 39px 0 30px 0;
  }

  .about-us__title {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }

  .about-us__item {
    margin: 0 16px 19px 16px;
  }

  .about-us__text {
    margin-top: 16px;
  }
}

@media (max-width: $mobile) {
  .about-us {
    box-sizing: border-box;
    padding: 35px 0 55px 0;
  }

  .about-us__title {
    margin-top: 24px;
  }

  .about-us__item {
    padding: 0;

  }

  .about-us__text {
    font-size: 18px;
    line-height: 34px;
    margin-top: 17px;
  }
}

