
.bike-video {
  width: 100%;
  height: 706px;
  margin: 0 auto;
  background-color: $grey10;
  box-sizing: border-box;
  padding: 97px 47px 0 47px;
  text-align: center;
  color: $white;
}

.bike-video__title {
  font-family: "OpenSans-SemiBold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  margin-bottom: 20px;
  padding: 0;
}

.bike-video__text {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.005em;
  color: $white2;
  margin: 0 auto;
  width: 340px;
}

.bike-video__wrap {
  max-width: 930px;
  position: relative;
  top: 55px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.bike-video__btn {
  z-index: 3;
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  background-color: $aqua;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $aqua2;
  }

  &:active {
    background-color: $grey5;
  }
}

.arrow {
  display: block;
  width: 0;
  height: 0;
  margin-left: 3px;
  //border-top: 7px solid transparent;
  //border-left: 10px solid $black;
  //border-bottom: 7px solid transparent;
  border-top: 9px solid transparent;
  border-left: 13px solid $black;
  border-bottom: 9px solid transparent;
}

.bike-video__btn--none {
  display: none;
}

.video {
  width: 100%;
}

@media (max-width: $tablet) {
  .bike-video {
    padding: 50px 16px 0 16px;
    height: 413px;
  }

  .bike-video__wrap {
    max-width: 503px;
    top: 40px;
  }

  .bike-video__title {
    font-size: 24px;
  }

  .bike-video__text {
    width: 429px;
    display: block;
  }

  .bike-video__btn {
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
  }

  .arrow {
    margin-left: 6px;
    border-top: 12px solid transparent;
    border-left: 17px solid $black;
    border-bottom: 12px solid transparent;
  }

  .video {
    min-width: 288px;
  }
}

@media (min-width: $mobile) and (max-width: 460px) {
  .bike-video__text {
    width: 100%;
  }
}

@media (max-width: $mobile) {
  .bike-video {
    //padding: 50px 16px 0 16px;
    padding-top: 64px;
    height: 384px;
  }

  //.bike-video {
  //  padding-top: 64px;
  //}

  .bike-video__wrap {
    max-width: 503px;
    top: 53px;
  }

  .bike-video__text {
    width: 100%;
  }

  .bike-video__btn {
    width: 65px;
    height: 65px;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
  }

  .arrow {
    margin-left: 3px;
    border-top: 9px solid transparent;
    border-left: 13px solid $black;
    border-bottom: 9px solid transparent;
  }
}
