
.contacts-list-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.contacts-list {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  margin: 34px auto 41px auto;
  padding: 0 0 0 0;
  justify-content: center;
}

.contacts-list__item {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0 0 0 0;

  &:hover .contacts-list__link {
    color: $black;
  }

  &:active .contacts-list__link {
    color: $aqua;
  }
}

.contacts-list__item--phone {
  padding-left: 34px;
}

.contacts-list__icon {
  display: block;
  width: 26px;
  height: 26px;
  margin: 3px 10px 0 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-list__icon--email {
  background-image: url("../img/icon-mail.svg");
}

.contacts-list__icon--phone {
  background-image: url("../img/icon-phone.svg");
}

.contacts-list__link {
  display: block;
  box-sizing: border-box;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $grey9;
  position: relative;
  padding: 5px;
}


@media (max-width: $tablet) {
  .contacts-list {
    margin: 22px auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
  }

  .contacts-list__item {
    width: auto;
  }

  .contacts-list__item--phone {
    padding-left: 0;
  }
}
