
.description {
  box-sizing: border-box;
  width: 393px;
  color: $white;
}

.description__title {

  font-family: "OpenSans-Bold", "Arial", sans-serif;
  font-size: 46px;
  line-height: 64px;
  margin: 26px 0 25px 0;
  font-stretch: normal;
  letter-spacing: -0.005em;
}

.description__text {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.8;
  letter-spacing: -0.005em;
}

@media (max-width: $tablet) {
  .description {
    width: 100%;
    padding: 25px 25px 79px 22px;
    background-image: url("../img/bg-bike-desktop.png");
    background-repeat: no-repeat;
    background-size: 765px auto;
    background-position: top -50px center;
  }

  .description__title {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin: 85px 0 19px 5px;
    word-wrap: break-word;
  }

  .description__text {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-left: 4px;
  }
}

@media (max-width: $mobile) {
  .description {
    width: 100%;
    padding: 25px 25px 70px 17px;
    background-image: url("../img/bg-bike-mobile.png");
    background-repeat: no-repeat;
    background-size: 320px 390px;
    background-position: top center;
  }

  .description__title {
    margin: 71px 0 19px 6px;
  }

  .description__text {
    padding-left: 6px;
  }
}
