
.type-bike {
  margin: 0 auto;
  padding: 127px 0 127px 0;
  width: 100%;
  background-color: $white5;
  text-align: center;
}

.type-bike__headline {
  font-family: "OpenSans-Regular",  "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.6px;
  padding: 0 8px 0 0;
  margin-top: 24px;
  margin-bottom: 59px;
}

.type-bike__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 0 23px;
  text-align: center;
  font-family: "OpenSans-SemiBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.5px;
}

.type-bike__item {
  //width: 342px;
  //height: 512px;
  margin: 0 25px;
  position: relative;
}

.type-bike__item::before {
  content: "";
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 27px solid $aqua;
  border-radius: 50%;
}

.type-bike__item--road .type-bike__img {
  position: relative;
}

.type-bike__item--road::before {
  width: 180px;
  height: 180px;
  top: 23%;
  left: -60px;
  z-index: 0;
}

.type-bike__item--mauntin::before {
  border-radius: 0;
  border: 8px solid $aqua;
  width: 47px;
  height: 47px;
  top: -18px;
  left: -19px;
}

.type-bike__item--mauntin::after {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  z-index: 8;
  bottom: 53px;
  right: -23px;
  box-sizing: border-box;
  border: 8px solid $aqua;
}

.type-bike__item--child::before {
  width: 95px;
  height: 95px;
  border: 17px solid $aqua;
  top: -35px;
  left: 283px;
}

.type-bike__item:nth-of-type(2) {
  margin-top: 29px;
}

.type-bike__img {
  width: 342px;
}

.type-bike__title {
  font-family: "OpenSans-SemiBold",  "Arial", sans-serif;
  font-size: 22px;
  line-height: 34px;
  margin-top: 10px;
}

@media (max-width: $less-desktop) and (min-width: $tablet) {
  .type-bike__item:nth-of-type(2) {
    margin: 10px 25px;
  }

  .type-bike__item--child {
    margin-top: 50px;
  }
}

@media (max-width: $tablet) {
  .type-bike__list {
    padding: 0 20px;
  }

  .type-bike__item:nth-of-type(2) {
    margin: 10px 25px;
  }

  .type-bike__img {
    width: 200px;
  }

  .type-bike__item {
    margin: 10px 25px;
  }

  .type-bike__item--road::before {
    width: 127px;
    height: 127px;
    border: 18px solid $aqua;
    top: 40%;
    left: -40px;
    z-index: 0;
  }

  .type-bike__item--mauntin::before {
    content: none;
  }

  .type-bike__item--mauntin::after {
    content: none;
  }

  .type-bike__item--child::before {
    width: 68px;
    height: 68px;
    border: 13px solid $aqua;
    top: -20px;
    left: 155px;
  }
}

@media (max-width: $mobile) {
  .type-bike {
    margin: 0 auto;
    padding: 35px 0 20px 0;
  }

  .type-bike__title {
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 20px;
  }
}
