
$mobile: 320px;
$tablet: 768px;
$less-desktop: 1000px;
$desktop: 1024px;

$white: #ffffff;
$white2: rgba(255, 255, 255, 0.5);
$white3: rgba(255, 255, 255, 0.1);
$white4: #e5e5e5;
$white5: #f6f7f9;
$black: #000000;
$grey1: #1f1f1f;
$grey2: rgba(28, 28, 28, 0.5);
$grey3: #48494d;
$grey4: #f6f6f6;
$grey5: #222222;
$grey6: #91929b;
$grey7: #c9ccd4;
$grey8: rgba(0, 0, 0, 0.7);
$grey9: rgba(0, 0, 0, 0.5);
$grey10: #131314;
$aqua: #0ad9c6;
$aqua2: #71ffff;
